@model Beauty_Store.Models.user

@{
    ViewBag.Title = "signup";
    List<SelectListItem> governorates = new List<SelectListItem>();
    governorates.Add(new SelectListItem
    {
        Text = "Cairo",
        Value = "Cairo"
    });
    governorates.Add(new SelectListItem
    {
        Text = "Giza",
        Value = "Giza"
    }); governorates.Add(new SelectListItem
    {
        Text = "Alexandria",
        Value = "Alexandria"
    }); governorates.Add(new SelectListItem
    {
        Text = "Aswan",
        Value = "Aswan"
    }); governorates.Add(new SelectListItem
    {
        Text = "Asyut",
        Value = "Asyut"
    }); governorates.Add(new SelectListItem
    {
        Text = "Beheira",
        Value = "Beheira"
    }); governorates.Add(new SelectListItem
    {
        Text = "Beni-Suef",
        Value = "Beni-Suef"
    }); governorates.Add(new SelectListItem
    {
        Text = "Dakahlia",
        Value = "Dakahlia"
    }); governorates.Add(new SelectListItem
    {
        Text = "Damietta",
        Value = "Damietta"
    }); governorates.Add(new SelectListItem
    {
        Text = "Faiyum",
        Value = "Faiyum"
    }); governorates.Add(new SelectListItem
    {
        Text = "Gharbia",
        Value = "Gharbia"
    }); governorates.Add(new SelectListItem
    {
        Text = "Ismailia",
        Value = "Ismailia"
    }); governorates.Add(new SelectListItem
    {
        Text = "Kafr El-Sheikh",
        Value = "Kafr El-Sheikh"
    }); governorates.Add(new SelectListItem
    {
        Text = "Luxor",
        Value = "Luxor"
    }); governorates.Add(new SelectListItem
    {
        Text = "Matruh",
        Value = "Matruh"
    }); governorates.Add(new SelectListItem
    {
        Text = "Minya",
        Value = "Minya"
    }); governorates.Add(new SelectListItem
    {
        Text = "Monufia",
        Value = "Monufia"
    }); governorates.Add(new SelectListItem
    {
        Text = "New Valley",
        Value = "New Valley"
    }); governorates.Add(new SelectListItem
    {
        Text = "North Sinai",
        Value = "North Sinai"
    }); governorates.Add(new SelectListItem
    {
        Text = "Port Said",
        Value = "Port Said"
    }); governorates.Add(new SelectListItem
    {
        Text = "Qalyubia",
        Value = "Qalyubia"
    }); governorates.Add(new SelectListItem
    {
        Text = "Qena",
        Value = "Qena"
    }); governorates.Add(new SelectListItem
    {
        Text = "Red Sea",
        Value = "Red Sea"
    }); governorates.Add(new SelectListItem
    {
        Text = "Sharqia",
        Value = "Sharqia"
    }); governorates.Add(new SelectListItem
    {
        Text = "Sohag",
        Value = "Sohag"
    }); governorates.Add(new SelectListItem
    {
        Text = "South Sinai",
        Value = "South Sina"
    }); governorates.Add(new SelectListItem
    {
        Text = "Suez",
        Value = "Suez"
    });
}

<fieldset>
    <legend>Beauty Store Signup Form</legend>
    <form method="post" action="" novalidate="novalidate">
        <div class="form-group">
            @Html.DisplayNameFor(a => a.user_name)<br />
            @Html.EditorFor(a => a.user_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(a => a.user_name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(a => a.password)<br />
            @Html.EditorFor(a => a.password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(a => a.password, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(a => a.address)<br />
            @Html.EditorFor(a => a.address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(a => a.address, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(a => a.city)<br />
            @Html.DropDownListFor(a => a.city,governorates, "--Select--", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.city, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(a => a.email)<br />
            @Html.EditorFor(a => a.email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(a => a.email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DisplayNameFor(a => a.phoneNo)<br />
            @Html.EditorFor(a => a.phoneNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(a => a.phoneNo, "", new { @class = "text-danger" })
        </div>
        <div>
            <input type="submit" value="SignUp" style="background-color: bisque;
                   border-radius:7px;font-weight:bold; font-family: cursive;" />
        </div>
    </form>
</fieldset>
