@model Beauty_Store.Models.complain

@{
    ViewBag.Title = "Complains";
}

<fieldset>
    <legend>Complains</legend><br />
    <h3>What Is Your Complain About?</h3>
    <br /><br />
    @using (Html.BeginForm("makeComplain", "complain", FormMethod.Post))
    {
        @Html.RadioButton("option", "Late delivery")<text>Late delivery</text>
        <br /><br />
        @Html.RadioButton("option", "Delivery Man didn't Serve Me Well")<text>Delivery Man didn't Serve Me Well</text>
        <br /><br />
        @Html.RadioButton("option", "I have Recieved Wrong Product(s)")<text>I have Recieved Wrong Product(s)</text>
        <br /><br />
        @Html.RadioButton("option", "Something Else")<text>Something Else</text><br /><br />
        <div class="form-group">
                @Html.DisplayNameFor(a => a.saleCode)<br />
                @Html.EditorFor(a => a.saleCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(a => a.saleCode, "", new { @class = "text-danger" })
        </div>
        
        <div><input type="submit" name="submit" value="Make Complain" 
                    style="background-color: bisque; width:300px;
                border-radius:7px;font-weight:bold; font-family: cursive;"/></div>
    }
    <br />
</fieldset>
<br /><br /><div>
    @Html.ActionLink("Log out", "login", "user")
</div>
