@model Beauty_Store.Models.sale

@{
                /**/

                ViewBag.Title = "Varification Form";
}

<fieldset>
    <legend>Varification Form</legend>
    <form method="post" action="" novalidate="novalidate">
        <div class="form-group">
            @Html.DisplayNameFor(a => a.no_of_products)<br />
            @Html.EditorFor(a => a.no_of_products, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(a => a.no_of_products, "", new { @class = "text-danger" })
        </div>
        <div>
            <input type="submit" value="Submit" style="background-color: bisque;
                   border-radius:7px;font-weight:bold; font-family: cursive;" />
        </div>
    </form>
</fieldset>
<br />
<div>
    <input type="submit" value="Back to User DashBoard" style="background-color: bisque;
                   border-radius:7px;font-weight:bold; font-family: cursive;"
           onclick="window.location= '@Url.Action( "UserDashBoard", "user")'" />
</div>
<br /><br /><div>
    @Html.ActionLink("Log out", "login", "user")
</div>